doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='style4.css')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='/stylesheets/css/style4.css')
  title Document
.principal
  .segundo
    h1 QUIENES SOMOS
    p
      | Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      | Excepturi facilis et in dolorem debitis non dolore natus
      | commodi, impedit sapiente reiciendis quas laborum vitae,
      | cum ea ut porro amet perspiciatis iste? Delectus tempora
      | rerum cupiditate, sit iste quaerat inventore neque velit.
      | Consequatur repellendus placeat quis praesentium officia
      | pore voluptate quasi?
  .Imagen
    img(src='/Imagenes/img15.jpg' width='450em' height='350em' alt='imag')
footer