doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=\, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet', href='/stylesheets/css/style5.css', type='text/css')
  title Index
header
  p
    br
  section.Seccion1
    a(href='/main') Inicio
    a(href='/aboutUs') Conócenos
    a(href='/login') Registrarse
section.principal
  section.segunda
    h1 Contactanos
    a.holi(href='tel:+50312345678') Telefono
    p