doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='/stylesheets/css/style.css')
  script(src='https://kit.fontawesome.com/2c36e9b7b1.js')
  title Inicio
header
  i.fas.fa-heartbeat
  h1 CLINICA ONCOLOGICA
  section.Seccion1
    a.fas.fa-home(href='principal.html')  Inicio
    a.fas.fa-user-md(href='AboutUs.html')  Quienes somos?
    a.fas.fa-phone-alt(href='Contact.html')  Contactanos
    a.fas.fa-user-circle(href='loging.html')  Registrarse
.slider
  ul
    li
      img(width='100' height='500' src='/stylesheets/Imagenes/Img1.jpg' alt='')
    .Texto-encima Horarios de atenci&oacute;n: 
    .centrado De Lunes a S&aacute;bado de 8:00 am a 5:00 pm
    li
      img(width='100' height='500' src='/stylesheets/Imagenes/Img2.jpg' alt='')
    li
      img(width='100' height='500' src='/stylesheets/Imagenes/Img5.jpeg' alt='')
    li
      img(width='100' height='500' src='/stylesheets/Imagenes/Img4.jpg' alt='')
section.seccion3
  h2 Servicios
  ul
    li Servicios de cirug&iacute;a oncol&oacute;gica
    li Servicios de gineconlog&iacute;a
    li Servicios de hermatolog&iacute;a
    li Servicios de hospitalizaci&oacute;n de oncolog&iacute;a
    li Servicios de oncolog&iacute;a cl&iacute;nica
    li Servicios de quimioterapia ambulatoria
    li Servicios de radioterapia ambulatoria
  .container-post
footer
  .ultimo
    ul
      li
        i.fas.fa-envelope   Clinicaoncologica@onco.com
      li
        i.fas.fa-phone-square-alt   (503) 2202-3456 
    p Cl&iacute;nica Oncol&oacute;gica
  h5 Derechos reservados Clinica Oncologica