doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='/stylesheets/css/style3.css')
  title Document
.Formu1
  .formulario
    h1 Registrate
    form(action='' target='')
      p
        | Email:
        br
      .user
        input.usuario(type='text' name='Username' value='' placeholder='Fatima654@gmail.com')
        br
      p
        | Username:
        br
      .user
        input.usuario(type='text' value='' placeholder='Fatima Renderos')
        br
        br
      p
        | Password:
        br
      .user
        input.usuario(type='text' value='' placeholder='****')
        br
        br
      input.ingresar(type='submit' value='INGRESAR')